<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="layout.css">

</head>
<body>
    <div id="content" class="scroll">
        <div id="message"></div>
    </div>
    <form action="">
        Tên: <input type="text" name="ten" id="ten" required="required"><br>
        Nội dung: <input type="text" name="mes" id="mes" required="required">
    </form>
    <div id="mrA">Click here</div>
    <div style="background-color: red; width: 100px; height: 100px; float: left" onclick="Doimau('red')"></div>
    <div style="background-color: blue; width: 100px; height: 100px; float: left" onclick="Doimau('blue')"></div>
    <div style="background-color: yellow; width: 100px; height: 100px; float: left" onclick="Doimau('yellow')"></div>

    <div id="content2" style="clear: both;">
        <div id="loginForm">
            <h3>Nhập tên của bạn</h3>
            <input type="text" name="username" id="username" required>
            <input type="button" value="register" id="register">
        </div>
        <div id="chatForm">
            <div class="row"></div>
        </div>
    </div>

    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000");

        socket.on('Server-send-data', function(name, mess){
            
            $("#message").append("<p>"+ name + ": "+ mess +"</p>");
        })
        socket.on('Server-send-color', function(color){
            $("#content").css("background-color", color);
        })

        $("#mrA").click(function() {
                
                let name = $("#ten").val();
                let mess = $("#mes").val();
                
                if (name=='' || mess=='') {
                    alert('vui long nhap ten va noi dung chat')
                } else {
                    $("#message").append("<p class='right'>"+ mess +"<br></p>");
                    socket.emit("Client-send-data", name, mess);
                }
                
        })

        function Doimau(color) {
            socket.emit("Color-data", color);
        }
        
        $(document).ready(function() {
            
            

            
        })

       
    </script>
</body>
</html>