p {
    margin: 0;
}
.scroll {
    display: flex;
    flex-direction: column-reverse;
    border: 0px solid red;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    overflow-wrap: anywhere;
    background-color: #00ff44;
}
.right {
    text-align: right;
}

#content2 {
    padding-top: 20px;
}
#msgbox {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid red;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    overflow-wrap: anywhere;
    background-color: #06cff3;
    margin-bottom: 10px;
}
#msgText {
    width: 90%;
}
