p {
    margin: 0;
}
.scroll {
    display: flex;
    flex-direction: column-reverse;
    border: 0px solid red;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 100px;
    overflow-y: scroll;
    overflow-wrap: anywhere;
    background-color: #00ff44;
}
.right {
    text-align: right;
}